@import "./partial/setting.css";
@import "./partial/menu.css";
@import "./partial/img.css";
@import "./partial/slider.css";
@import "./partial/carusel.css";

div.rapper {
  width: 100%;
}

div.daeder {
  width: 100%;
  height: 40px;
}

div.serch {
  width: 100%;
  height: 45px;
  background-image: url("../imgs/logo\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-position: 1210px 7px;
}

div.serch > input {
  width: 350px;
  height: 35px;
  margin-right: 160px;
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

div.Grouping {
  width: 60%;
  height: 120px;
  display: block;
  margin: 0 auto;
  padding-top: 1%;
}

div.Grouping > div.groupingContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

div.Grouping > div.groupingContainer > div.gyek {
  height: 100%;
  flex: 16.67%;
  text-align: center;
}
div.Grouping > div.groupingContainer > div.gyek > div.gyekPhoto {
  height: 60%;
  margin: 0 auto;
}

div.Grouping > div.groupingContainer > div.gyek > div.gyekText {
  padding-top: 5%;
  height: 40%;
}

div.Grouping > div.groupingContainer > div.gdo {
  height: 100%;
  flex: 16.67%;
  text-align: center;
}

div.Grouping > div.groupingContainer > div.gdo > div.gdoPhoto {
  height: 60%;
  margin: 0 auto;
}

div.Grouping > div.groupingContainer > div.gdo > div.gdoText {
  padding-top: 5%;
  height: 40%;
}

div.Grouping > div.groupingContainer > div.gse {
  height: 100%;
  flex: 16.67%;
  text-align: center;
}

div.Grouping > div.groupingContainer > div.gse > div.gsePhoto {
  height: 60%;
  margin: 0 auto;
}

div.Grouping > div.groupingContainer > div.gse > div.gseText {
  padding-top: 5%;
  height: 40%;
}

div.Grouping > div.groupingContainer > div.gchahar {
  height: 100%;
  flex: 16.67%;
  text-align: center;
}

div.Grouping > div.groupingContainer > div.gchahar > div.gchaharPhoto {
  height: 60%;
  margin: 0 auto;
}

div.Grouping > div.groupingContainer > div.gchahar > div.gchaharText {
  padding-top: 5%;
  height: 40%;
}

div.Grouping > div.groupingContainer > div.gpanj {
  height: 100%;
  flex: 16.67%;
  text-align: center;
}

div.Grouping > div.groupingContainer > div.gpanj > div.gpanjPhoto {
  height: 60%;
  margin: 0 auto;
}

div.Grouping > div.groupingContainer > div.gpanj > div.gpanjText {
  padding-top: 5%;
  height: 40%;
}

div.Grouping > div.groupingContainer > div.gshish {
  height: 100%;
  flex: 16.67%;
  text-align: center;
}

div.Grouping > div.groupingContainer > div.gshish > div.gshishPhoto {
  height: 60%;
  margin: 0 auto;
}

div.Grouping > div.groupingContainer > div.gshish > div.gshishText {
  padding-top: 5%;
  height: 40%;
}

div.Fooddiscounts {
  width: 97%;
  height: 120px;
  background-color: #ebeeeb;
  border-radius: 15px;
  background-image: url("../imgs4/b1fcee5be8a5c3c3912449556402859cab1b4642_1605307535.jpg"),
    url("../imgs4/121975200.jpg"), url("../imgs4/120420558.jpg"),
    url("../imgs4/967dcab878ff157b63adab02a5390dc2dd1f9dcb_1604753438.jpg"),
    url("../imgs4/decdcf52af34b86d57557c938f62751ba7882729_1652162618.jpg"),
    url("../imgs4/4cfa256d8b77509f010e6a8143ff39fdd4f28a3c_1638355491.jpg"),
    url("../imgs8/fresh.svg"), url("../imgs8/fresh.png");
  background-repeat: no-repeat;
  background-size: 60px, 60px, 60px, 60px, 60px, 60px, 250px;
  background-position: 700px 30px, 600px 30px, 500px 30px, 400px 30px,
    300px 30px, 200px 30px, 900px 50px, 1200px 30px;
}

div.Fooddiscounts > div.bishaz {
  width: 1250px;
  height: 30px;
  text-align: left;
  line-height: 120px;
}

div.Fooddiscounts > div.bishaz > span > a {
  text-decoration: none;
  color: #a6b600;
  border: 1px solid #ebeeeb;
}

div.ci {
  width: 100%;
  height: 350px;
  background-color: #ffffff;
  background-image: url("../imgs/a8b4f0e0942a78d8c299f2b77cfe391fdc768b6f_1662729380.jpg"),
    url("../imgs/465049bf974851ebd7ec9547feeb7c74753619a6_1662729646.jpg"),
    url("../imgs/6456858f752de44da7ae9fd7ffa8bfe55519baf7_1662879069.jpg"),
    url("../imgs/319f32d6d22b68baa7aa2bafaeba45ea2ff28018_1662564155.jpg");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 1045px 60px, 700px 60px, 350px 60px, 5px 60px;
}

div.text3 {
  width: 100%;
  height: 50px;
  line-height: 20px;
  font-size: 14px;
}

div.Proposald {
  width: 100%;
  height: 500px;
  background-image: url("../imgs5/8f80e75e4c2dca42ee0538e100c7a7b05455aa88_1662360265.png"),
    url("../imgs5/aba1e5dca8958ac1176e25cd194ff8ac622cd383_1662362431.png"),
    url("../imgs5/29dcb8556749524af521e23f63c13efe62a0db4a_1656160904.png"),
    url("../imgs5/5795b31a635f1e23df96a908c009f31744ede38f_1656160928.png"),
    url("../imgs5/da24c42172585abb0c328accf85d071049c4253e_1656161034.png"),
    url("../imgs5/0c46d2532d61dd3a5b6a3afc17552c23c1b4d39e_1656160976.png"),
    url("../imgs5/af02140ea60e0fd478b09b279976a095c95615b6_1656161174.png"),
    url("../imgs5/0cefa48f5c58adbbde8c5a76b22ee49de0e667f5_1656161101.png"),
    url("../imgs5/0c3cc1cb589df1c74c4ad95a742bb6df967956a8_1656161119.png"),
    url("../imgs5/3582bbed0a53318c2332d2c79b051b226f02a3bb_1656161134.png"),
    url("../imgs5/1c44d5964f259e0725ec86ca9739de888f1862c7_1656161158.png");
  background-size: 160px;
  background-repeat: no-repeat;
  background-position: 1100px 10px, 900px 10px, 700px 10px, 500px 10px,
    300px 10px, 100px 10px, 1000px 200px, 800px 200px, 600px 200px, 400px 200px,
    200px 200px;
}

div.text4 {
  width: 100%;
  height: 70px;
  line-height: 20px;
  font-size: 14px;
}

div.Festival {
  width: 100%;
  height: 270px;
  background-color: #ffffff;
  background-image: url("../imgs/c244ef7114a1705f38866a00e11240dd0017e185_1662551998.jpg"),
    url("../imgs/a0ecd1270ddb0c6ab7e046f0a86ef5e5d48cc961_1662576098.jpg");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 700px 10px, 70px 10px;
}

div.Technology {
  width: 100%;
  height: 300px;
  background-image: url("../imgs8/e477016feaff5a6e6cf930517134eb3888c887ef_1656404674.jpg");
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 1200px 20px;
}

div.Technology > table {
  width: 97%;
  border-radius: 15px;
  border-spacing: 0;
  border-color: lightgray;
  margin: 0 auto;
}

div.Technology > table > tr {
  border-radius: 15px;
}

div.Technology > h4 {
  margin: 8px 0px 0px;
}

div.berand {
  width: 97%;
  height: 360px;
  border: 1px solid lightgray;
  margin: 0 auto;
  border-radius: 15px;
}

div.forsatha {
  width: 100%;
  height: 270px;
  background-color: #ffffff;
  background-image: url("../imgs/0a875f6fda2fa721a6e23c73722414ec27d4b4e4_1662574991.jpg"),
    url("../imgs/138fcda41eabcd029b214fe57353ce7baafd8d66_1662183357.gif");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: 700px 10px, 70px 10px;
}

div.random {
  width: 97%;
  height: 450px;
  border: 1px solid lightgray;
  margin: 0 auto;
  border-radius: 15px;
  padding-bottom: 10px;
  font-size: 10px;
  background-image: url("../imgs7/24e36bba767e87349656c030630fe64b2ed565dc_1638169300.jpg"),
    url("../imgs7/aa83173f99a441078c8e6760cd0f501504524d1c_1656407218.jpg"),
    url("../imgs7/06aaa82b2af4b71992683701769b0afa4fa169bf_1659163608.jpg"),
    url("../imgs7/c9ea3ecf7c12c779f0cb1869c71d91f54602b84d_1662797216.jpg"),
    url("../imgs7/6eb0b7fd204116402962ecee1c72aaf9f8a03eb3_1644540707.jpg"),
    url("../imgs7/9d66d5ebe085f39447c59dda36a8a2f71ca7d53b_1644092611.jpg"),
    url("../imgs7/7380d8240861bb5c903199aa8483d2f4fa085735_1644092995.jpg"),
    url("../imgs7/22330684bb73aef973d0b01cd27b711824ac333f_1643828234.jpg"),
    url("../imgs7/6acdde8170a0f4650c1e6ccae842b8c637d30c76_1657752882.jpg"),
    url("../imgs7/203bea14d872311f9f350d1faeed9c7e10d5861a_1635237867.jpg"),
    url("../imgs7/9ec365d579abd6e527480d37b1137bb5fd53cfbc_1641016372.jpg"),
    url("../imgs7/e289f9ef67c0d1c1b1b3e53f21a86ff1fa8081e6_1645277490.jpg"),
    url("../imgs7/9a2f4ba8aaad117cbe779f75a7c785354aef7f90_1656931870.jpg"),
    url("../imgs7/766af443fe3e3f372e6a8c9f55956f284b257211_1662488423.jpg"),
    url("../imgs7/62942f259735e828c040218ccfb1377520e38547_1657081280.jpg"),
    url("../imgs7/e7b574a8c663fe577391b6f88c182a947ad78441_1657359281.jpg");
  background-position: 1170px 100px, 1050px 100px, 1170px 230px, 1050px 230px,
    900px 100px, 760px 100px, 900px 230px, 760px 230px, 580px 100px, 430px 100px,
    580px 230px, 430px 230px, 220px 100px, 80px 100px, 220px 230px, 80px 230px;
  background-repeat: no-repeat;
  background-size: 110px;
}

div.random > table {
  width: 100%;
  border-radius: 15px;
  border-spacing: 0;
  border-color: white;
}

div.plus {
  width: 97%;
  height: 530px;
  border-radius: 15px;
  margin: 20px auto;
  background-color: #941b80;
  display: flex;
}

div.plus > div.digiPlus {
  width: 66%;
  height: 500px;
  border-radius: 15px;
  margin: 15px auto 15px 15px;
  background-color: #941b80;
  display: flex;
  flex: 75%;
}

div.plus > div.digiPlus > div.hedie {
  width: 46%;
  height: inherit;
  background-color: aliceblue;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0px 10px 0px 5px;
  padding-top: 20px;
  border-radius: 0px 15px 15px 0px;
  flex: 40%;
}

div.plus > div.digiPlus > div.enteghal {
  width: 46%;
  height: inherit;
  background-color: aliceblue;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 20px;
  border-radius: 15px;
  margin: 0px 10px 0px 5px;
  border-radius: 15px 0px 0px 15px;
  flex: 40%;
}

div.plus > div.digiPlusPhoto {
  flex: 25%;
}

div.club {
  width: 97%;
  height: 100px;
  background-color: #007295;
  border-radius: 15px;
  margin: 20px auto;
  display: flex;
}

div.club > div.digiClubPhoto {
  width: 10%;
  height: 90px;
  border-radius: 15px;
  margin: 5px 0px 5px 5px;
  background-color: #007295;
  flex: 40%;
  right: 0px;
}

div.club > div.clubContainer {
  width: 50%;
  height: 90px;
  margin: 5px 5px 5px 5px;
  flex: 60%;
  display: flex;
}

div.club > div.clubContainer > div.yek {
  width: 33%;
  height: 100%;
  margin: 0px 2.5px 0px 2.5px;
  flex: 33%;
  display: flex;
}

div.club > div.clubContainer > div.yek > div.yekPhoto {
  flex: 50%;
  margin: 0px 0px 0px 0px;
}

div.club > div.clubContainer > div.yek > div.yekText {
  flex: 50%;
  border-radius: 0px 15px 15px 0px;
  margin: 0px 0px 0px 0px;
  background-color: white;
  text-align: center;
  line-height: 85px;
}

div.club > div.clubContainer > div.do {
  width: 33%;
  height: 100%;
  margin: 0px 2.5px 0px 2.5px;
  flex: 33%;
  display: flex;
}

div.club > div.clubContainer > div.do > div.doPhoto {
  flex: 50%;
  margin: 0px 0px 0px 0px;
}

div.club > div.clubContainer > div.do > div.doText {
  flex: 50%;
  margin: 0px 0px 0px 0px;
  background-color: white;
  text-align: center;
  line-height: 85px;
}

div.club > div.clubContainer > div.se {
  width: 33%;
  height: 100%;
  margin: 0px 2.5px 0px 2.5px;
  flex: 33%;
  display: flex;
}

div.club > div.clubContainer > div.se > div.sePhoto {
  flex: 50%;
  margin: 0px 0px 0px 0px;
  border-radius: 15px 0px 0px 15px;
}

div.club > div.clubContainer > div.se > div.seText {
  flex: 50%;
  margin: 0px 0px 0px 0px;
  background-color: white;
  text-align: center;
  line-height: 85px;
}

div.singing {
  width: 97%;
  height: 450px;
  border: 1px solid lightgray;
  margin: 0 auto;
  border-radius: 15px;
  padding-bottom: 10px;
  font-size: 10px;
  background-image: url("../imgs8/d0187bec8f8b7325dd61934b86481218758d9bdd_1605029963.jpg"),
    url("../imgs8/d0e09197052640a5461ac61fc3b22b77f1eb1435_1625166217.jpg"),
    url("../imgs8/e3ce9c627823fd19f7b6627ce059c889e2bd556a_1630784095.jpg"),
    url("../imgs8/1e898f50219f0b7e211ba9fdc6cfa2c114708869_1645523389.jpg"),
    url("../imgs8/ab38625a30baf2719dea99870464bdeaf5216f97_1635343303.jpg"),
    url("../imgs8/fafa155591918cc3a548319ea5ae7eaaca227024_1652105866.jpg"),
    url("../imgs8/ff2f076be6ded436a14cc1d4e5e48e79b78508ef_1610993916.jpg"),
    url("../imgs8/73d3a836a51bcab5d672b44b9edab184dcfc9163_1653327756.jpg"),
    url("../imgs8/11529181d63d40636ed7d68023437284e68c6bd6_1637677275.jpg"),
    url("../imgs8/79f4b1e3c31fb22fa193ea1393e2cb8e8a5863cc_1605085571.jpg"),
    url("../imgs8/067d4e0ea04b849caf3fc29c6f6d23fa2f7e651b_1597669901.jpg"),
    url("../imgs8/174590d431e79eba2df1d9792f4ae8a1bacda4db_1639393931.jpg"),
    url("../imgs8/2ef6f567848b3c7d2a05e8b15cee279517d8f336_1612801080.jpg"),
    url("../imgs8/1381500.jpg"),
    url("../imgs8/2df8c0ad39bd746d2b339b373e2d222379726b7a_1633248793.jpg"),
    url("../imgs8/121855246.jpg");
  background-position: 1170px 100px, 1050px 100px, 1170px 230px, 1050px 230px,
    900px 100px, 760px 100px, 900px 230px, 760px 230px, 580px 100px, 430px 100px,
    580px 230px, 430px 230px, 220px 100px, 80px 100px, 220px 230px, 80px 230px;
  background-repeat: no-repeat;
  background-size: 110px;
}

div.singing > table {
  width: 100%;
  border-radius: 15px;
  border-spacing: 0;
  border-color: white;
}

div.Information {
  width: 100%;
  height: 650px;
  background-color: black;
}

div.Download {
  width: 100%;
  height: 180px;
  background-color: #ffffff;
  background-image: url("../imgs/ff7718545c9b95bc81261c8e79fce09e01267f6a_1662552827.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

div.shoppe {
  width: 100%;
  height: 230px;
  background-color: aquamarine;
}

div.p {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  font-size: 13px;
}

div.khandami {
  width: 100%;
  height: 310px;
  display: flex;
}

div.y {
  border: 1px solid lightgray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
