div.carusel {
  width: 100%;
  height: 410px;
  padding-top: 10px;
}
div.carusel > div.products {
  width: 90%;
  height: 320px;
  background-color: #ef4056;
  margin: 0 auto;
  border-radius: 15px;
  padding: 5px 5px;
}
div.swiper-slide {
  flex-direction: column;
}
div.swiper-slide > div.image {
  width: 100%;
}
div.swiper-slide > div.image > img {
  width: 100%;
  object-fit: cover;
}
div.swiper-slide > div.text {
  font-size: 7px;
}
div.swiper-slide > div.text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: inline-block;
}

div.text1 > a {
  text-decoration: none;
  color: black;
}

div.swiper-slide2 > div.image2 > img {
  width: 150px;
}

div.swiper-slide2 > div.text5 > h1 {
  font-size: 30px;
  color: white;
  margin-top: 30px;
}

div.swiper-slide2 > div.text6 > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-right: 40px;
  margin-top: 25px;
}

div.carusel-2 {
  width: 100%;
  height: 410px;
  padding-top: 100px;
}
div.carusel-2 > div.products-2 {
  width: 100%;
  height: 180px;
  border-radius: 15px;
}
div.swiper-slide {
  flex-direction: column;
}
div.swiper-slide > div.image-2 {
  width: 100%;
}
div.swiper-slide > div.image-2 > img {
  width: 100%;
  object-fit: cover;
}
